<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562765381724-2r7oh38hvbmd9k48tuhrmku35csbr4ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562765381724-2r7oh38hvbmd9k48tuhrmku35csbr4ko</string>
	<key>API_KEY</key>
	<string>AIzaSyDZzkVksCwawa6-b-4zau1SWgmzKJXe1FE</string>
	<key>GCM_SENDER_ID</key>
	<string>562765381724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.blackjack</string>
	<key>PROJECT_ID</key>
	<string>blackjack-a9c2f</string>
	<key>STORAGE_BUCKET</key>
	<string>blackjack-a9c2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562765381724:ios:8d4805bf89912cd4502699</string>
</dict>
</plist>